<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
</head>

<body>
    <div>
        <nav>
            <a href="#">Home</a>
            <a href="#">About Me</a>
            <a href="#">Projects</a>
            <a href="#">Resume</a>
            <a href="#">Contact</a>
        </nav>
    </div>
    <div>
        {{{body}}}
    </div>

</body>

</html>