<section class="container-fluid col-12 d-flex">
    <div class="col">
        <img  class="img-fluid w-100" src="" alt="profilePic">
    </div>
    <div class="col text-center">
        <p>Welcome to my portfolio page, an extensive explanation of who I am and how I work. 
        It's a pleasure to meet you</p>
    </div>
</section>
<section id="aboutMe">
    <div class="container">
        <p>My Name is Richard Ferry</p>
        <p>Full stack web developer with a certificate in full stack web development from  UC Berkeley Extension. 
            Bringing a business background, capable of creating an innovative user experience. With skills in HTML, CSS,  
            JavaScript, and node.js, as well as the ability to meet criteria, provide creative feedback, and work in 
            groups. Key knowledge in creating responsive mobile-first applications that are user friendly, utilized to 
            create a portfolio page, weather dashboard, and continuing to apply is current projects. Capable of 
            utilizing mysql for database development, and utilizing node.js for application use. In a recent project, 
            my role was to utilize Handlebars templating and javascript in order to design a responsive layout that is 
            user friendly. The project is also utilizing express,and express-session so that a user can have a personalized
            account to access certain content. Excited to utilize my skills in additional projects.</p>
    </div>
    <div>
        <h3>Skills:</h3>
        <ul>
            <li>JavaScript</li>
            <li>Html</li>
            <li>CSS</li>
            <li>Express</li>
            <li>Responsive-layouts</li>
            <li>Tailwind</li>
            <li>Bootstrap</li>
            <li>Handlebars</li>
            <li>Teaching capabilities</li>
        </ul>
    </div>
</section>
<section id="projects">
    <div id="main">
        <div>
            <a href="#">Live</a>
            <a href="#">Repo</a>
        </div>
        <img class="" src="" alt="">
    </div>
    <div id="subsection">
        <div>
            <a href="#">Live</a>
            <a href="#">Repo</a>
        </div>
        <img class="" src="" alt="">
    </div>
    <div id="subsection">
        <div>
            <a href="#">Live</a>
            <a href="#">Repo</a>
        </div>
        <img class="" src="" alt="">
    </div>
</section>
<section id="resume">
    <section class="card">
        <h2>Resume/CV</h2>
        <h3>Click the link learn more</h3>
        <a href="https://docs.google.com/document/d/16SL8DIQICEsP9XNMgKoNxdBqrkYjuDV0/edit?usp=sharing&ouid=108423136575021340361&rtpof=true&sd=true">Resume/CV</a>
        <a href="https://www.linkedin.com/in/richard-ferry-83120514b/">LinkedIn</a>
        <a href="https://github.com/rich-f-p">Github</a>
    </section>
</section>
<section id="contact">
    <h2>Contact Information:</h2>
    <p>Email:<a href="mailto:richardfpro864@gmail.com">richardfpro864@gmail.com</a></p>
    <p>Phone:<a href="tel:3525800368">1 (352) 580-0368</a></p>
</section>