<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>portfolio three</title>
</head>

<body>
    <div class="sticky-top effect">
        <nav class="container-fluid text-center mb-4 p-3 bg-dark d-flex justify-content-evenly ct-text navbar">
            <a href="/" class="nav-link text-white">Home</a>
            <a href="#aboutMe" class="nav-link text-white">About Me</a>
            <a href="#projects" class="nav-link text-white">Projects</a>
            <a href="#resume" class="nav-link text-white">Resume</a>
            <a href="#contact" class="nav-link text-white">Contact</a>
        </nav>
    </div>
    <div>
        <section class="container-fluid col-12 mb-3">
            <div class="container mb-3 justify-content-center">
                <img class="img-fluid position-relative top-50 start-50 translate-middle-x rounded-circle background effect" src="/images/profile-pic.png" alt="profilePic" width="400px" height="350px">
            </div>
            <div class="text-center ct-text mb-3 container background effect rounded">
                <p>Welcome to my portfolio page, an extensive explanation of who I am and how I work. 
                It's a pleasure to meet you</p>
            </div>
        </section>
        <section id="aboutMe" class="mb-3 container text-center background effect rounded">
            <div class="container mb-3 ct-text">
                <p class="ct-text">My Name is Richard Ferry</p>
                <p>Full stack web developer with a certificate in full stack web development from  UC Berkeley Extension. 
                    Bringing a business background, capable of creating an innovative user experience. With skills in HTML, CSS,  
                    JavaScript, and node.js, as well as the ability to meet criteria, provide creative feedback, and work in 
                    groups. Key knowledge in creating responsive mobile-first applications that are user friendly, utilized to 
                    create a portfolio page, weather dashboard, and continuing to apply is current projects. Capable of 
                    utilizing mysql for database development, and utilizing node.js for application use. In a recent project, 
                    my role was to utilize Handlebars templating and javascript in order to design a responsive layout that is 
                    user friendly. The project is also utilizing express,and express-session so that a user can have a personalized
                    account to access certain content. Excited to utilize my skills in additional projects.</p>
            </div>
            <div class="container text-center ct-text rounded effect">
                <h3 class="ct-text">Skills:</h3>
                <ul>
                    <li>JavaScript</li>
                    <li>Html</li>
                    <li>CSS</li>
                    <li>Express</li>
                    <li>Responsive-layouts</li>
                    <li>Tailwind</li>
                    <li>Bootstrap</li>
                    <li>Handlebars</li>
                    <li>Teaching capabilities</li>
                </ul>
            </div>
        </section>
        <section id="projects" class="container-fluid mb-3 ct-text">
            <div id="main" class="container background">
                <div class="ct-link">
                    <a href="https://aqueous-plateau-74718.herokuapp.com/">Live</a>
                    <a href="https://github.com/rich-f-p/book-spot">Repo</a>
                </div>
                <img class="img-fluid w-100" src="/images/bookspot.png" alt="">
            </div>
            <div id="subsection" class="container background">
                <div class="ct-link">
                    <a href="https://young-woodland-61260.herokuapp.com/">Live</a>
                    <a href="https://github.com/rich-f-p/blog-for-tech">Repo</a>
                </div>
                <img class="img-fluid w-100" src="/images/techblog.png" alt="">
            </div>
            <div id="subsection" class="container background">
                <div class="ct-link">
                    <a href="https://quiet-oasis-75616.herokuapp.com/">Live</a>
                    <a href="https://github.com/rich-f-p/note-pad">Repo</a>
                </div>
                <img class="img-fluid w-100" src="/images/notepad.jpg" alt="">
            </div>
        </section>
        <section id="resume" class="container mb-3 background rounded effect">
            <section class="ct-text text-center">
                <h2>Resume/CV</h2>
                <h3>Click the link learn more</h3>
                <a href="https://drive.google.com/file/d/19j_nRQ_8r-93wujewGuWlF2naqG1BfSv/view?usp=sharing">Resume/CV</a>
                <a href="https://www.linkedin.com/in/richard-ferry-83120514b/">LinkedIn</a>
                <a href="https://github.com/rich-f-p">Github</a>
            </section>
        </section>
        <section id="contact" class="container background ct-text text-center rounded effect">
            <h2>Contact Information:</h2>
            <p>Email:<a href="mailto:richardfpro864@gmail.com">richardfpro864@gmail.com</a></p>
            <p>Phone:<a href="tel:3525800368">1 (352) 580-0368</a></p>
        </section>
    </div>

</body>

</html>